node_modules/
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# databases
*.db
*.sqlite
*.sqlite3

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.pem
.vercel
